/* photomanager */


.manager-page{
    margin-left: 10px;
}

.manager-container {
display: flex;
flex-direction: row;
border: 1px solid #EEEFF2;
}

.manager-title {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100vw;
    height: 50px;
    
    font-size: 24pt;
    color:#0099e5;


}

.manager-button {
    width: 15%;
    border-style: solid ;
    border-width: 1px 1px 0px 1px ;
    border-color: #EEEFF2;
    min-width: 180px;
    height: 50px;
    box-sizing: border-box;
    
}

.man-button{
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%;
    width: 80%;
    cursor:pointer;
    background-color: #0099e5;
    color: #fff;
    border:none;
    box-sizing: border-box;
    
}

.manager-title-title {
    width:85%;
    border-style: solid ;
    border-width: 1px 1px 0px 1px ;
    border-color: #EEEFF2;
    height: 50px;
    min-width: 180px;
    padding-left: 15px;
    align-items: center;

}

.manager-left {
width: 15%;
height: 100vh;
border: 1px solid #EEEFF2;
min-width: 180px;
}

.manager-middle{
width: 65%;
height: 100vh;
background-color: #F7F8FA;
border: 1px solid #EEEFF2;
overflow-y: auto;
}

.manager-right{
width: 20%;
height: 100vh;
border: 1px solid #EEEFF2;
min-width: 180px;

}

.manager-photo-item {
    margin: 10px;
    cursor:pointer;

}

#left-bar-title{
    color:#0099e5;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10%;
    margin-bottom: 20px;
}

#left-bar-detail {
    color:#0099e5;
    font-size: 12pt;
    
    
    margin-left: 10%;
}