/* photomanager */


.manager-page{
    margin-left: 10px;
}

.manager-container {
display: flex;
flex-direction: row;
border: 1px solid #EEEFF2;
}

.manager-title {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100vw;
    height: 50px;
    
    font-size: 24pt;
    color:#0099e5;


}

.manager-button {
    width: 15%;
    border-style: solid ;
    border-width: 1px 1px 0px 1px ;
    border-color: #EEEFF2;
    min-width: 180px;
    height: 50px;
    box-sizing: border-box;
    
}

.man-button{
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%;
    width: 80%;
    cursor:pointer;
    background-color: #0099e5;
    color: #fff;
    border:none;
    box-sizing: border-box;
    
}

.manager-title-title {
    width:85%;
    border-style: solid ;
    border-width: 1px 1px 0px 1px ;
    border-color: #EEEFF2;
    height: 50px;
    min-width: 180px;
    padding-left: 15px;
    align-items: center;

}

.manager-left {
width: 15%;
height: 100vh;
border: 1px solid #EEEFF2;
min-width: 180px;
}

.manager-middle{
width: 65%;
height: 100vh;
background-color: #F7F8FA;
border: 1px solid #EEEFF2;
overflow-y: auto;
}

.manager-right{
width: 20%;
height: 100vh;
border: 1px solid #EEEFF2;
min-width: 180px;
overflow-y: auto;
}

.manager-photo-item {
    margin: 10px;
    cursor:pointer;
    box-sizing: border-box;

}
.manager-photo-item-selected {
    margin: 10px;
    cursor:pointer;
    border: 3px solid #0099e5;
    box-sizing: border-box;

}

#left-bar-title{
    color:#0099e5;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10%;
    margin-bottom: 20px;
}

#left-bar-detail {
    color:#0099e5;
    font-size: 12pt;
    
    
    margin-left: 10%;
}

/* photo manager form */

.photo-manager-form-container{
    display: flex;
    flex-direction: column;
    padding:20px;
}

.photo-manager-form-container label {
    color: #0099e5;
    margin-bottom:10px;
    font-size: 18px;
    font-weight: normal;
}

.phm-category-input{
    font-size: 14px;
    padding: 8px 10px;
    color: #525558;
    border: 1px solid rgba(185,193,199,0.5);
    border-radius: 3px;
    line-height: 1.4em;
}

.phm-title-input{
    font-size: 14px;
    padding: 8px 10px;
    color: #525558;
    border: 1px solid rgba(185,193,199,0.5);
    border-radius: 3px;
    line-height: 1.4em;
}

.phm-desc-input {
    font-size: 14px;
    padding: 8px 10px;
    color: #525558;
    border: 1px solid rgba(185,193,199,0.5);
    border-radius: 3px;
    line-height: 1.4em;
    height:150px;
    transition: border-color 0.2s;
}

.phm-camera-input{
    font-size: 14px;
    padding: 8px 10px;
    color: #525558;
    border: 1px solid rgba(185,193,199,0.5);
    border-radius: 3px;
    line-height: 1.4em;
}

.phm-edit-title{
    padding: 20px 0px 18px 20px;
    color: #222;
    font-size: 22px;
}

.phm-delete-btn{
    cursor:pointer;
    background-color: #71767a;
    border-color: #71767a;
    height: 30px;
    line-height: 28px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #0099e5;
    margin-bottom: 50px;
}

.phm-submit-btn{
    height: 40px;
    cursor: pointer;
    background-color: #34bf49;
    border-color: #34bf49;
    line-height: 28px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #0099e5;



}