.profile-page {
}

.profile-index-title {
  text-align: center;
}

.profile-index-title h2 {
  font-size: 30px;
  margin: 10px 0 10px 0;
  text-align: center;
  color: #525558;
  font-weight: normal;
}

.layout-container {
  background-color: #f7f8fa;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.parallax-bg {
  /* background-image:
    
    url('images/bridgesmaller.jpg'); */
  display: block;

  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-attachment: scroll; */
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 500px;
  /* width: auto; */
  /* background-blend-mode: saturation; */
  /* transform: translate3d(0px, 50px, 0px) */
}

.photo-gallery-pane-selector {
  text-align: center;
  border-top: 1px solid #eeeff2;
  border-bottom: 1px solid #eeeff2;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin-left: 20px;
}

.selector-photos {
  margin: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #0099e5;

  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
}

.selector-spacer {
  margin-left: 25px;
  margin-right: 25px;
}

.select-galleries {
  margin: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #0099e5;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
}


.gallery-delete-btn{
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  line-height: 28px;
  border-radius: 3px;
  padding: 0 10px;
  font-weight: bold;
  color: #fff;
  background-color: #0099e5;
  text-align: right;
  position: absolute;
  right: 50px;
  margin-top: 5px;
  border: none;

}

.gallery-delete-btn:hover{
  background-color: #00aaff;
}
