/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  /* remove the white space on the sides of pages */
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
}

/* Nav bar */
.nav-not-logged {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  /* background: 30px rgb(25, 214, 192); */
  background: transparent;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  font-family: "Montserrat", sans-serif;
  /* box-shadow: 2px 2px lightgrey; */
  height: 50px;
  box-sizing: border-box;
}

.nav-logged {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: 30px #ffffff;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  font-family: "Montserrat", sans-serif;
  /* box-shadow: 2px 2px lightgrey; */
  height: 50px;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-logged a  {
  text-decoration: none;
  color: black;
}

.nav-logged a:hover {
  color: lightgrey;
  cursor: pointer;
}
sup {
  line-height: 0;
  font-size: 70%;
  vertical-align: top;
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}

#logo {
  display: flex;
  text-decoration: none;
  margin-left: 10px;
  color: black;
}

.nav-logged ul {
  display: flex;
  box-sizing: border-box;

  /* width: 900px; */
}

.nav-logged li {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
  box-sizing: border-box;
}

.nav-not-logged ul {
  display: flex;
  box-sizing: border-box;

  /* width: 900px; */
}

.nav-not-logged li {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
  box-sizing: border-box;
}

.login-buttons {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: auto;
  padding: 10px;
  text-decoration: none;
}

#login-btn {
  text-decoration: none;
  color: black;
}

.login-buttons-btn {
  border-radius: 30px;
  background-color: inherit;
  border: 2px solid black;
  margin: 10px;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.login-buttons-btn:hover {
  color: lightgrey;
  cursor: pointer;
}
#login-btn:hover {
  color: lightgrey;
  cursor: pointer;
}

.header-button {
  margin-left: 10px;
}



/* splash page */

.splash-main {
  font-family: "Montserrat", sans-serif;
  padding-left: 15px;
  background-color: rgb(25, 214, 192);
  width: 100%;
  margin-top: -50px;
}

.maincontent {
  margin-top: 50px;
  width: 100%;
  /* background-color: white; */
  /* background-color: rgb(223, 219, 219) */
}
/* Login forms */
.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin: auto;
  background-color: white;

  padding: 32px 40px 24px;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 0px;
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  line-height: 21px;
  width: 100%;
  border-radius: 3px;
  background-color: rgb(209, 234, 255);
}

.login-form-box {
  outline: 0.5px solid lightgray;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(82, 85, 88);
  box-sizing: border-box;
  font-weight: 400;
  width: 400px;
  background-color: white;
  border-radius: px;
}
.login-form-box h1 {
  text-align: center;
}

.session-submit {
  background-color: #34bf49;
  color: #ffffff;
  height: 40px;
  font-size: 18px;
}

.button-demo-acct {
  background-color: #3b5998;
  height: 40px;
  font-size: 18px;
  color: #ffffff;
}

/* hides unused form elements */
.signin-input {
  display: none;
}

.label-hide {
  display: none;
}

/*photo index*/

.photo-index-container {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: white;
  height: 100vw;
  width: 100vh;
  margin: 10px 10px 10px 0px;
  box-sizing: border-box; */
  /* justify-content: flex-start;
  align-content: flex-start; */
  background-color: #F7F8FA;
  display: grid;
  grid-gap: 5px; /* [1] Add some gap between rows and columns */
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* [2] Make columns adjust according to the available viewport */
  grid-auto-rows: 175px; /* [3] Set the height for implicitly-created row track */
  width: 80%;
  margin-left: 10%;
  
}

/* .photo-index-container a {
  box-sizing: border-box;
  width:33%;

} */

.photo-post-index-photo {
  width: 100%;
  /* overflow: hidden; */
  /* margin: 10px 5px 0px 5px; */
  border: 1px solid black;
  object-fit: cover;
  overflow: hidden;
  /* grid-row-end: span 2; */
}

.photo-post-index-photo:hover {
  cursor: pointer;
}

.photo-index-title {
  justify-content: space-around;
  margin-left: 10px;
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: "Helvectica neue", "Helvectica";
}

.photo-post-index {
  text-decoration: none;
  list-style-type: none;
  margin: 0px 10px 40px 10px;
  border: 10px black;
  /* text-align: center; */

  box-sizing: border-box;
  padding: 0px 0px 20px 0px;
  overflow: hidden;
}

/* .photo-post-index a {
    
  } */

.index-title {
  background-color: white;
  margin-top: 80px;
  margin-left: 20px;
}

.content-container {
  display: flex;
  justify-content: center;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.img-preview {
  display: flex;
  max-width: 300px;
  height: auto;
  overflow: scroll;
}

.modal-button {
  background: transparent;
  border: none;
  font-size: 20pt;
  margin-right: 20px;
  cursor: pointer;
}

.modal-button:hover {
  color: lightgray;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
}

.modal-box {
  width: 90%;
  min-width: 700px;
  height: 90%;
  min-height: 450px;
  padding: 10px;
  border-radius: 3px;
  margin-left: 5%;
  margin-top: 40px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid black;
  overflow-y: auto;
}

.form-container {
  display: flex;

  flex-direction: row;

  align-content: center;
  overflow: hidden;
}

.form-itself {
  width: 50%;
}

.upload-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-image-preview {
  margin-left: 30px;
  width: 60%;
  
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.post-show-label {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #3899e5;
  min-width: 180px;
  height: 40px;
  padding: 0 10px;
  line-height: 38px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #3899e5;
  margin-top: 20%;
}

.input-file + label:hover {
  background-color: red;
  cursor: pointer;
}

.drag-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(2, 173, 234, 0.3);
  z-index: 60;
  border: 2px dashed blue;
}

.fa-camera {
  color: lightgray;
}

.post-form-input {
  background-color: white;
  height: 40px;
  font-size: 18px;
  margin-top: 30px;

  margin-bottom: 10px;
  align-self: center;
  width: 250px;
}
.post-submit-btn {
  background-color: #34bf49;
  height: 40px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 20px;
  margin-bottom: 10px;
  align-self: center;
  width: 190px;
}
