/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Nav bar */
  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: 30px rgb(25,214,192);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 2px lightgrey;
    height: 50px;
    box-sizing: border-box;
     

  }
  sup { 
    line-height: 0; 
    font-size: 70%; 
    vertical-align: top;
    
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  
}

#logo {
  display: flex;
  text-decoration: none;
  margin-left: 10px;
  color: black;

}

.navbar ul {
     display: flex;
     box-sizing: border-box;

     /* width: 900px; */
     
}

  .navbar li{
    display: flex;
   list-style-type: none;
    margin-left: 20px;
  box-sizing: border-box

}

  .login-buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: auto;
    padding: 10px;
    text-decoration: none;
    
    

  }

  #login-btn{
    text-decoration: none;
    color: black;
  }

  .login-buttons-btn{
    border-radius: 30px;
    background-color: rgb(25,214,192);
    border: 2px solid black;
    margin: 10px;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

.login-buttons-btn:hover{
    color: lightgrey;
}
#login-btn:hover{
    color: lightgrey;
}



  .header-button {
    margin-left: 10px;
  }



/* splash page */

.splash-main {
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

  .maincontent {
    margin-top: 50px;
    background-color: white;
    /* background-color: rgb(223, 219, 219) */
  }
/* Login forms */
 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
   margin: auto;
   background-color: white;
   
   padding: 32px 40px 24px;
   box-sizing: border-box;
   
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
   margin-left: 0px;
   display: block;
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
   line-height: 21px;
   width: 100%;
   border-radius: 3px;
   background-color: rgb(209, 234, 255);
   
 }

 .login-form-box {
   outline: .5px solid lightgray;
   padding: 20px;
   font-family: 'Montserrat', sans-serif;
   color: rgb(82,85,88);
   box-sizing: border-box;
   font-weight: 400;
   width: 400px;
   background-color: white;
   border-radius: px;

 }
 .login-form-box h1 {
   text-align: center;
 }
/* hides unused form elements */
 .signin-input {
     display: none
 }

 .label-hide {
   display: none;
 }

 /*photo index*/

 .photo-index-container{
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style-type: none;
   background-color: white;

   margin: 50px auto 0px auto;
   box-sizing: border-box;
  
   
 }


 .photo-post-index-photo {
   display: flex;
   max-width: 550px;
   max-height: 300px;
   overflow: hidden;
   /* margin: 20px 10px 0px 10px; */
 }
 
  .photo-post-index {
    text-decoration: none;
    list-style-type: none;
    margin: 0px 10px 40px 10px;
    text-align: center;
     border: 1px solid black;
   border-radius: 15px;
   box-sizing: border-box;
   padding: 0px 0px 20px 0px;
   overflow: hidden;
  }

  .photo-post-index a {
    margin-left:10px;
  }

  .index-title {
    background-color: white;
    margin-top: 80px;
    margin-left: 20px;
    
  }

  /* Modal */
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 90%;
  height: 90%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.img-preview {
  display: flex;
  max-width: 400px;
  height: auto;
}

.modal-button {
  background:transparent;
  border: none;
  font-size: 20pt;
  margin-right: 20px;
}

.modal-button:hover{
  color: lightgray;
}

.form-container {
display: flex;


}

.form-itself {
  display: flex;
 flex-direction: column;
 
}