/* post show */

.post-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.post-show-img-container {
  background-color: #222222;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-show-img {
  display: flex;
  max-width: 80vw;
  max-height: 80vw;
  /* height: auto; */
  margin: 0 auto;
}

.icon-lens {
  width: 30px;

  vertical-align: middle;
}

.lens-text {
  vertical-align: middle;
}

.post-show-post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
}

.post-show-post-camera-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-left: 10%;
  box-sizing: border-box;
  min-width: 400px;
}

.post-show-post-camera-details {
  margin-left: 0%;
}
.post-show-author-container {
  display: flex;
  flex-direction: column;
  /* margin-left: 10%; */
  justify-content: flex-start;
  border-bottom: 1px solid #eeeff2;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.author-by,
.post-show-author,
.lens-text,
.post-create-time,
.post-category,
.span-detail-text {
  /* margin-left: 10%; */
  font-size: 18px;
  color: rgb(34, 34, 34);
}

.post-show-post-camera-details > p {
  font-size: 18px;
  color: rgb(34, 34, 34);
}

.post-show-author {
  /* display: flex;
  align-content: center; */
  cursor: pointer;

  /* font-size: 18pt; */
  margin-top: 10px;
  min-width: 240px;
  /* color: rgb(34, 34, 34); */
}

.post-show-author:hover {
  color: #1890ff;
}

#show-detail {
  margin: 0;
}

/* .post-show-post-camera-details p {
  display: flex;
  flex-direction: column;
  margin-left: 20%;

  font-size: 16pt;
} */

.post-show-comments {
  width: 40%;
  /* margin-right: 10%; */
  min-width: 300px;
  box-sizing: border-box;
}

.post-show-title {
  display: flex;
  align-content: center;
  /* margin-left: 10%; */
  padding: 0;
  font-size: 22pt;
  margin-bottom: 5px;
}

.post-create-time {
  display: flex;
  align-content: center;
  /* margin-left: 10%; */
  padding: 0;
  font-size: 18pt;
}
.post-category {
  display: flex;
  align-content: center;
  /* margin-left: 10%; */
  padding: 0;
  font-size: 18pt;
}

.post-comment {
  font-size: 22pt;
  margin-bottom: 10px;
}

/* comments */
.comment-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 20px;
}

.comment-body {
  height: 59px;
  min-height: 59px;
  max-height: 194px;
  overflow-y: hidden;
  font-size: 16pt;
  max-width: 280px;
  border-radius: 3px;
}

.comment-body {
  font-size: 16pt;
  margin-bottom: 5px;
  margin-top: 2px;
  margin-left: 10px;
  width: 500px;
}
.comment-username {
  font-size: 16pt;
  margin-top: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}

.comment-username:hover {
  color: #1890ff;
}
.comment-submit-btn {
  background-color: #3b5998;
  height: 40px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 20px;
  margin-bottom: 10px;
  align-self: center;
  width: 190px;
}

.close-modal {
  background-color: #9c232a;
  height: 40px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 20px;
  margin-bottom: 10px;
  align-self: center;
  width: 190px;
}

.post-show-spacer {
  width: 15%;
}
